/**
 * Propiedades de la fuente de iconos SVG: -- Movil
 */
@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?d4y855');
	src:url('../fonts/icomoon.eot?#iefixd4y855') format('embedded-opentype'),
		url('../fonts/icomoon.woff?d4y855') format('woff'),
		url('../fonts/icomoon.ttf?d4y855') format('truetype'),
		url('../fonts/icomoon.svg?d4y855#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-list:before {
	content: "\e600";
	font-size: 1.3em;
	margin-right: 1em;
	padding: .5em;
}
/**
 * Propiedades del menu principal: -- Movil
 */
.Header-container {
	display: block;
	height: 3.75em;
	margin: 0 auto;
	max-width: 62.5em;
	position: relative;
	z-index: 2;
}
.Mainmenu-imageLink {
	display: inline-block;
}
.Mainmenu-image {
	margin: .2em 0 0 1.5em;
	width: 8em;
}
.Mainmenu {
	background: #FFF;
	right: 0;
	top: 0;
	width: 100%;
    float: none;
    left: 0;
    position: fixed;
}
.Mainmenu-mobile {
	color: #2C363C;
	position: absolute;
	right: 0;
	text-decoration: none;
	top: 1em;
}
.Mainmenu-mobile.nav-active {
	opacity: 1;
}
.Mainmenu-list {
    box-shadow: 0 1px 2px rgba(0,0,0,.5);
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.5);
       -moz-box-shadow: 0 1px 2px rgba(0,0,0,.5);
	font-size: 1.1em;
	list-style: none;
	margin: 0;
	overflow: hidden;
	padding: 0;
    max-height: 0;
}
.Mainmenu-list.open-menu {
    max-height: 400px;
    -webkit-transition: max-height 1s;
       -moz-transition: max-height 1s;
        -ms-transition: max-height 1s;
         -o-transition: max-height 1s;
            transition: max-height 1s;
}
.Mainmenu-item {
	background: #33363b;
	display: block;
	text-align: center;
    border-bottom: 1px solid #555555;
    float: none;
}
.Mainmenu-link {
	font-weight: bold;
	height: 3.5em;
	line-height: 3.5em;
	text-decoration: none;
    color: #FFF;
    display: block;
    text-transform: capitalize;
}
.Mainmenu-link:hover {
	background:#555555;
	color: #FFC000;
}
/**
 * Propiedades de la galeria de slider: -- Movil
 */
.Slider-container {
	height: 31em;
	overflow: hidden;
	text-align: center;
	width: 100%;
}
.Slider-element {
	display: none;
	height: 100%;
	position: relative;
	width: 100%;
}
.Slider-visible {
	display: block;
}
.Slider-element01 {
	background-image: url("../images/slider1.png");
    background-position: center;
    background-repeat: no-repeat;
}
.Slider-element02 {
	background-image: url("../images/slider2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.Slider-element03 {
	background-image: url("../images/slider3.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.Slider-element04 {
	background-image: url("../images/slider4.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.Slider-element05 {
	background-image: url("../images/slider5.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.Slider-element06 {
	background-image: url("../images/slider6.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/**
 *	Propiedades del landing: --	Movil
 */
.Article-about {
	display: block;
	margin: 0 auto;
	max-width: 62.5em;
}
.About-title {
	font-size: 2.5em;
	font: 800 2.5em/1.5em Lato, sans-serif;
	margin-top: 1em;
	text-align: center;
	text-transform: uppercase;
}
.About-subtitle {
	color: #626262;
	font-family: Georgia;
	font-size: 1.5em;
	font-style: italic;
	font: 400 1em/1.8em Lato, sans-serif;
	margin-top: -2em;
	text-align: center;
}
.About-text {
	font-size: 1.3em;
	font-weight: 300;
	margin-top: 1em;
	margin: .6em;
}
/**
 * Propiedades del modelo empresarial: -- Movil
 */
.Article-MVV {
	/*margin-top: 1em;*/
	margin: 1em auto 0;
	max-width: 80em;
	text-align: center;
}
.Title-MVV {
	color: #626262;
	font-family: Georgia;
	font-size: 1.2em;
	font-style: italic;
	margin-top: 2em;
	text-align: center;
	width: 100%;
}
.Title-MVV:hover {
	color: #0094FF;
}
.Thumbs-container {
	display: block;
	margin-top: 2em;
	width: 100%;
}
.Thumbs-container:hover > .Title-thumbs {
	color: #00BDD9;
}
.Thumbs-text {
	font-size: 1.3em;
	font-weight: 300;
	margin-top: 1em;
	margin: .6em;
}
/**
 *	Propiedades de los iconos: -- Movil
 */
.Article-icons {
	margin: 2em auto 0;
	max-width: 85em;
	text-align: center;
}
.Icons-title {
	font-size: 2.5em;
	font: 800 2.5em/1.5em Lato, sans-serif;
	margin-top: 1em;
	text-align: center;
	text-transform: uppercase;
}
.Icon-container {
	display: block;
	margin-top: 2em;
	padding-right: 2em;
}
.Icon-link {
	color: #2C363C;
	text-decoration: none;
}
.Title-icon {
	display: block;
	text-align: center;
}
.Icon-container:hover {
	opacity: .7
}
.Icon-image {
	display: inline-block;
	width: 10em;
}
/**
 *	Propiedades del footer: -- Movil
 */
.Footer-Container {
	background: #213338;
	border: 1px solid #0B1E22;
	height: 10em;
	margin-top: 4em;
}
.Button-containner {
	display: block;
	margin-top: 3em;
	text-align: center;
}
.Button-contactLink {
	background: #F6921E;
	color: #FFF;
	padding: 1em 2em;
	text-decoration: none;
}
.Button-contactLink:active {
	font-weight: bold;
	padding: .8em 1.7em;
}
.Footer-powerBy {
	color: #FFF;
	margin-top: 3em;
	text-align: center;
}
@media screen and (min-width: 800px) {
	/**
	 * Propiedades del menu principal: -- PC
	 */
	.Header-container {
		background: #FFF;
		display: block;
		height: 4.45em;
	}
	.Mainmenu {
		background: #FFF;
		display: block;
		position: fixed;
	}
	.Mainmenu-pc {
		margin: 0 auto;
		max-width: 62.5em;
		position: relative;
	}
	.Mainmenu-imageLink {
		display: inline-block;
	}
	.Mainmenu-image {
		display: inline-block;
		width: 10em;
	}
	.Mainmenu-mobile {
		display: none;
	}
	.Mainmenu-list {
		overflow: visible;
	    display: inline-block;
	    position: absolute;
	    right: 0;
	    top: 0;
	}
	.Mainmenu-item {
		display: block;
		float: left;
    	border-bottom: 1px solid #FFF;
	}
	.Mainmenu-link {
		color: #000;
		background: #FFF;
		display: block;
		height: 4em;
		line-height: 4em;
		padding: 0 2em;
	}
	.Mainmenu-link:hover {
		color: #F6921E;
		background: #FFF;
	}
	/**
	 *	Propiedades del modelo empresarial: -- PC
	 */
	.Thumbs-container {
		display: inline-block;
		width: 30%;
		margin-top: 2em;
	}
	/**
	 *	Propiedades de los iconos: -- PC
	 */
	.Icon-container {
		display: inline-block;
		padding: 1em;
		margin: 1em;
		text-align: center;
	}
	.Title-icon {
		display: block;
		text-align: center;
	}
	.Icon-image {
		width: 10em;
		display: inline-block;
	}
}