@import "nib"
/*	Assets
	==================================================	*/
/*	Font icons */
@font-face
  font-family 'icomoon'
  src url('fonts/icomoon.eot?4qelu'),
      url('../fonts/icomoon.eot?#iefix-gecqsi') format('embedded-opentype'),
      url('../fonts/icomoon.woff?-gecqsi') format('woff'),
      url('../fonts/icomoon.ttf?-gecqsi') format('truetype'),
      url('../fonts/icomoon.svg?-gecqsi#icomoon') format('svg')
  font-weight normal
  font-style normal

[class^="icon-"], [class*=" icon-"]
  font-family 'icomoon'
  speak none
  font-style normal
  font-weight normal
  font-variant normal
  text-transform none
  line-height 1
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

.icon-cogs
  &:before
    content "\e61c"

.icon-radio
  &:before
    content "\e61d"

.icon-tools
  &:before
    content "\e61e"

.icon-dollar
  &:before
    content "\e61f"

.icon-dollar2
  &:before
    content "\e620"

.icon-coins
  &:before
    content "\e621"

.icon-clipboard
  &:before
    content "\e622"

.icon-clipboard2
  &:before
    content "\e623"

.icon-mobile3
  &:before
    content "\e000"

.icon-laptop2
  &:before
    content "\e001"

.icon-desktop2
  &:before
    content "\e002"

.icon-tablet2
  &:before
    content "\e003"

.icon-phone2
  &:before
    content "\e004"

.icon-document
  &:before
    content "\e005"

.icon-documents
  &:before
    content "\e006"

.icon-search2
  &:before
    content "\e007"

.icon-presentation
  &:before
    content "\e00e"

.icon-briefcase
  &:before
    content "\e015"

.icon-gears
  &:before
    content "\e02b"

.icon-group
  &:before
    content "\e624"

.icon-chart-pie
  &:before
    content "\e625"

.icon-chart-line
  &:before
    content "\e626"

.icon-chart-bar
  &:before
    content "\e627"

.icon-chart-area
  &:before
    content "\e628"

.icon-perm-phone-msg
  &:before
    content "\e629"

.icon-settings-ethernet
  &:before
    content "\e62a"

.icon-settings-input-antenna
  &:before
    content "\e62b"

.icon-view-headline
  &:before
    content "\e600"

.icon-equalizer
  &:before
    content "\e62c"

.icon-play-circle-fill
  &:before
    content "\e65e"

.icon-call
  &:before
    content "\e601"

.icon-dialer-sip
  &:before
    content "\e62d"

.icon-email
  &:before
    content "\e602"

.icon-forum
  &:before
    content "\e603"

.icon-content-copy
  &:before
    content "\e604"

.icon-content-paste
  &:before
    content "\e605"

.icon-markunread
  &:before
    content "\e65f"

.icon-brightness-high
  &:before
    content "\e62e"

.icon-brightness-low
  &:before
    content "\e62f"

.icon-devices
  &:before
    content "\e630"

.icon-dvr
  &:before
    content "\e631"

.icon-cloud-download
  &:before
    content "\e632"

.icon-file-download
  &:before
    content "\e633"

.icon-computer
  &:before
    content "\e634"

.icon-desktop-mac
  &:before
    content "\e635"

.icon-desktop-windows
  &:before
    content "\e636"

.icon-dock
  &:before
    content "\e637"

.icon-laptop
  &:before
    content "\e638"

.icon-laptop-chromebook
  &:before
    content "\e639"

.icon-laptop-mac
  &:before
    content "\e63a"

.icon-memory
  &:before
    content "\e63b"

.icon-navigate-before
  &:before
    content "\e63c"

.icon-navigate-next
  &:before
    content "\e63d"

.icon-pin-drop
  &:before
    content "\e63e"

.icon-place
  &:before
    content "\e63f"

.icon-chevron-left
  &:before
    content "\e640"

.icon-chevron-right
  &:before
    content "\e641"

.icon-menu
  &:before
    content "\e642"

.icon-mms
  &:before
    content "\e643"

.icon-play-download
  &:before
    content "\e644"

.icon-sms-failed
  &:before
    content "\e660"

.icon-domain
  &:before
    content "\e645"

.icon-group2
  &:before
    content "\e646"

.icon-location-city
  &:before
    content "\e647"

.icon-people
  &:before
    content "\e648"

.icon-person
  &:before
    content "\e649"

.icon-publ
  &:before
    content "\e64a"

.icon-envelope
  &:before
    content "\e64b"

.icon-chat
  &:before
    content "\e64c"

.icon-cog
  &:before
    content "\f013"

.icon-home
  &:before
    content "\f015"

.icon-chevron-left2
  &:before
    content "\f053"

.icon-chevron-right2
  &:before
    content "\f054"

.icon-question-circle
  &:before
    content "\f059"

.icon-info-circle
  &:before
    content "\f05a"

.icon-twitter-square
  &:before
    content "\f081"

.icon-facebook-square
  &:before
    content "\f082"

.icon-comments
  &:before
    content "\f086"

.icon-linkedin-square
  &:before
    content "\f08c"

.icon-github-square
  &:before
    content "\f092"

.icon-phone
  &:before
    content "\f095"

.icon-phone-square
  &:before
    content "\f098"

.icon-twitter
  &:before
    content "\f099"

.icon-facebook
  &:before
    content "\f09a"

.icon-group3
  &:before
    content "\f0c0"

.icon-pinterest-square
  &:before
    content "\f0d3"

.icon-google-plus-square
  &:before
    content "\f0d4"

.icon-google-plus
  &:before
    content "\f0d5"

.icon-envelope2
  &:before
    content "\f0e0"

.icon-comment-o
  &:before
    content "\f0e5"

.icon-comments-o
  &:before
    content "\f0e6"

.icon-suitcase
  &:before
    content "\f0f2"

.icon-building-o
  &:before
    content "\f0f7"

.icon-desktop
  &:before
    content "\f108"

.icon-laptop3
  &:before
    content "\f109"

.icon-tablet
  &:before
    content "\f10a"

.icon-mobile
  &:before
    content "\f10b"

.icon-terminal
  &:before
    content "\f120"

.icon-code
  &:before
    content "\f121"

.icon-puzzle-piece
  &:before
    content "\f12e"

.icon-chevron-circle-left
  &:before
    content "\f137"

.icon-chevron-circle-right
  &:before
    content "\f138"

.icon-html5
  &:before
    content "\f13b"

.icon-css3
  &:before
    content "\f13c"

.icon-youtube-square
  &:before
    content "\f166"

.icon-youtube
  &:before
    content "\f167"

.icon-youtube-play
  &:before
    content "\f16a"

.icon-dropbox
  &:before
    content "\f16b"

.icon-stack-overflow
  &:before
    content "\f16c"

.icon-instagram
  &:before
    content "\f16d"

.icon-tumblr
  &:before
    content "\f173"

.icon-tumblr-square
  &:before
    content "\f174"

.icon-apple
  &:before
    content "\f179"

.icon-windows
  &:before
    content "\f17a"

.icon-android
  &:before
    content "\f17b"

.icon-linux
  &:before
    content "\f17c"

.icon-skype
  &:before
    content "\f17e"

.icon-foursquare
  &:before
    content "\f180"

.icon-slack
  &:before
    content "\f198"

.icon-graduation-cap
  &:before
    content "\f19d"

.icon-google
  &:before
    content "\f1a0"

.icon-reddit
  &:before
    content "\f1a1"

.icon-cubes
  &:before
    content "\f1b3"

.icon-file-image-o
  &:before
    content "\f1c5"

.icon-file-audio-o
  &:before
    content "\f1c7"

.icon-file-movie-o
  &:before
    content "\f1c8"

.icon-file-code-o
  &:before
    content "\f1c9"

.icon-git-square
  &:before
    content "\f1d2"

.icon-git
  &:before
    content "\f1d3"

.icon-cc-visa
  &:before
    content "\f1f0"

.icon-cc-mastercard
  &:before
    content "\f1f1"

.icon-cc-amex
  &:before
    content "\f1f3"

.icon-cc-paypal
  &:before
    content "\f1f4"

.icon-area-chart
  &:before
    content "\f1fe"

.icon-pie-chart
  &:before
    content "\f200"

.icon-line-chart
  &:before
    content "\f201"

.icon-download
  &:before
    content "\e606"

.icon-chat2
  &:before
    content "\e607"

.icon-user
  &:before
    content "\e608"

.icon-users
  &:before
    content "\e609"

.icon-location
  &:before
    content "\e60a"

.icon-mobile2
  &:before
    content "\e60b"

.icon-screen
  &:before
    content "\e60c"

.icon-mail
  &:before
    content "\e60d"

.icon-help
  &:before
    content "\e60e"

.icon-videos
  &:before
    content "\e60f"

.icon-pictures
  &:before
    content "\e610"

.icon-search
  &:before
    content "\e611"

.icon-cog2
  &:before
    content "\e612"

.icon-article
  &:before
    content "\e613"

.icon-photoshop
  &:before
    content "\e614"

.icon-illustrator
  &:before
    content "\e615"

.icon-list
  &:before
    content "\e616"

.icon-images
  &:before
    content "\e617"

.icon-pencil
  &:before
    content "\e618"

.icon-layers-alt
  &:before
    content "\e619"

.icon-layers
  &:before
    content "\e61a"

.icon-users2
  &:before
    content "\e61b"

.icon-mail2
  &:before
    content "\e661"

.icon-mail3
  &:before
    content "\e662"

.icon-mail4
  &:before
    content "\e663"

.icon-mail5
  &:before
    content "\e664"

.icon-google2
  &:before
    content "\e665"

.icon-googleplus3
  &:before
    content "\e666"

.icon-googleplus4
  &:before
    content "\e667"

.icon-googleplus5
  &:before
    content "\e668"

.icon-googleplus6
  &:before
    content "\e669"

.icon-facebook5
  &:before
    content "\e66a"

.icon-facebook6
  &:before
    content "\e66b"

.icon-facebook7
  &:before
    content "\e66c"

.icon-instagram2
  &:before
    content "\e66d"

.icon-twitter4
  &:before
    content "\e66e"

.icon-twitter5
  &:before
    content "\e66f"

.icon-twitter6
  &:before
    content "\e670"

.icon-feed
  &:before
    content "\e671"

.icon-feed2
  &:before
    content "\e672"

.icon-feed3
  &:before
    content "\e673"

.icon-youtube2
  &:before
    content "\e674"

.icon-youtube3
  &:before
    content "\e675"

.icon-vimeo3
  &:before
    content "\e676"

.icon-vimeo22
  &:before
    content "\e677"

.icon-vimeo4
  &:before
    content "\e678"

.icon-flickr
  &:before
    content "\e679"

.icon-flickr2
  &:before
    content "\e67a"

.icon-flickr3
  &:before
    content "\e67b"

.icon-flickr4
  &:before
    content "\e67c"

.icon-skype4
  &:before
    content "\e67d"

.icon-vimeo
  &:before
    content "\e64d"

.icon-vimeo2
  &:before
    content "\e64e"

.icon-twitter2
  &:before
    content "\e64f"

.icon-twitter3
  &:before
    content "\e650"

.icon-facebook2
  &:before
    content "\e651"

.icon-facebook3
  &:before
    content "\e652"

.icon-facebook4
  &:before
    content "\e653"

.icon-googleplus
  &:before
    content "\e654"

.icon-googleplus2
  &:before
    content "\e655"

.icon-pinterest
  &:before
    content "\e656"

.icon-pinterest2
  &:before
    content "\e657"

.icon-tumblr2
  &:before
    content "\e658"

.icon-tumblr3
  &:before
    content "\e659"

.icon-linkedin
  &:before
    content "\e65a"

.icon-linkedin2
  &:before
    content "\e65b"

.icon-skype2
  &:before
    content "\e65c"

.icon-skype3
  &:before
    content "\e65d"


/*	Colors 	*/
black_button =	#213338
blue_dark 	 = 	#2C363C
blue_light 	 =	#00BCD9
footer 		 =	#222
footer_text	 =	#999999
gray_dark 	 = 	#33363b
gray_link 	 = 	#333
gray_slider  = 	#555555
gray_text 	 =	#626262
green_link 	 =	#7dcd40
green_border =	#6dae33
red_link 	 =	#ff4842
red_border 	 =	#d0272a
white 		 = 	#FFF
yellow_link  = 	#FFC000
/*	Mobile
	==================================================	*/
.Header-container
	width 100%
	background white
	display block
	position fixed
	right 0
	left 0
	z-index 2
.Mainmenu
	background rgba(0, 0, 0, .1)
	display block
	height 4em
	position relative
	width 100%
	z-indez 2
	float none
	&-imageLink
		display inline-block
	&-image
		margin .2em 0 0 1.5em
		width 9em
	&-mobile
		color blue_dark
		position absolute
		padding 0 1em
		line-height 2em
		font-size 2em
		right 0
		display inline-block
		text-decoration none
	&-mobile.nav-active
		opacity 1
	&-list
		box-shadow 0 1px 2px rgba(0,0,0,.5)
		-webkit-box-shadow 0 1px 2px rgba(0,0,0,.5)
		-moz-box-shadow 0 1px 2px rgba(0,0,0,.5)
		font-size 1.1em
		list-style none
		margin 0
		overflow hidden
		padding 0
		max-height 0
	&-list.open-menu
		max-height 400px
		transition max-height 1s
	&-item
		display block
		text-align center
		float none
		border-bottom 1px solid gray_slider
	&-link
		background gray_dark
		color white
		display block
		font-weight bold
		height 4em
		line-height 4em
		text-decoration none
		text-transform capitalize
		&:before
			margin-right .3em
	&-link:hover
		background gray_slider
		color yellow_link
.Slider
	display block
	width 100%
	position relative
	padding .2em 0
	top 4.2em
	border-top .1em dashed gray_slider
	border-bottom .3em solid gray_slider
	&-container
		display none
		height 31em
		overflow hidden
		text-align center
		display block
		width 100%
	&-element
		margin 0 auto
		display block
		height 100%
	&-visible
		display block
	&-element01
		background-image url("../images/slider1.jpg")
		background-position center
		background-repeat no-repeat
		background-size cover
	&-element02
		background-image url("../images/slider2.png")
		background-position center
		background-repeat no-repeat
		background-size cover
	&-element03
		background-image url("../images/slider3.png")
		background-position center
		background-repeat no-repeat
		background-size cover
	&-element04
		background-image url("../images/slider4.png")
		background-position center
		background-repeat no-repeat
		background-size cover
	&-element05
		background-image url("../images/slider5.png")
		background-position center
		background-repeat no-repeat
		background-size cover
	&-element06
		background-image url("../images/slider6.png")
		background-position center
		background-repeat no-repeat
		background-size cover
	&-containerButton
		display none
	&-subelement
		display none
	&-textSubelement
		display none
.About
	display block
	padding-top 1em
	margin 0 auto
	max-width 62.5em
	&-title
		font-size 2.5em
		font 800 2.5em/1.5em Lato, sans-serif
		margin-top 2em
		text-align center
		text-transform uppercase
	&-subtitle
		color gray_text
		font-family Georgia
		font-size 1.5em
		font-style italic
		font 400 1em/1.8em Lato, sans-serif
		margin-top -2em
		text-align center
	&-text
		font-size 1.3em
		font-weight 300
		margin-top 1em
		margin .6em
.Model
	display block
	margin 1em
	max-width 80em
	text-align center
	border-bottom 4px dashed blue_light
	&-title
		display block
		text-align center
		color gray_text
		font-family Georgia
		font-size 1.2em
		width 100%
		&:hover
			transition .2s
			color blue_light
	&-thumbsContainer
		display block
		margin-top 2em
		width 100%
		&:hover
			& > .Model-thumbsTitle
				transition .2s
				color blue_light
	&-thumbsTitle
		text-align center
	&-thumbsText
		font-size 1.3em
		font-weight 300
		margin-top 1em
		padding-bottom .5em
		text-align center
.Solutions
	display block
	padding-top 1em
	max-width 80em
	text-align center
	&-title
		font-size 2.5em
		font 800 2.5em/1.5em Lato, sans-serif
		margin-top 1em
		text-align center
		text-transform capitalize
		&:hover
			transition .2s
			color blue_light
	&-imageContainer
		width 100%
		display block
	&-image
		width 90%
.Services
	display inline-block
	width 100%
	position relative
	padding-top 1em
	&-container
		height 31em
	&-element
		border-top .1em dashed gray_slider
		border-bottom .3em solid gray_slider
		margin 0 auto
		height 100%
		background-image url("../images/domotica.jpg")
		background-position center
		background-repeat no-repeat
		background-size cover
		margin 2em 0
		margin-top .5em
		position absolute
		right 0
		left 0
	&-text
		margin 1em 0 0 0
		padding 0
		display block
		position relative
		text-align center
		font-size 2.5em
		color white
	&-secondText
		margin 0
		padding 0
		display block
		position relative
		text-align center
		font-size 2.5em
		color white
	&-link
		color white
		background green_link
		border-bottom 3px solid green_border
		text-decoration none
		text-transform uppercase
		position absolute
		text-align center
		padding 1em 2.5em
		left 30%
		&:hover
			background red_link
			border-bottom 3px solid red_border
			transition .1s
		&:active
			padding .8em 1.8em
		&:before
			margin-right .3em
.Partnerships
	display block
	padding 1em 0
	&-title
		font-size 2.5em
		font 800 2.5em/1.5em Lato, sans-serif
		margin-top 1em
		text-align center
		text-transform capitalize
	&-container
		padding 0 0 1em 0
		margin 0 auto
		max-width 62.5em
	&-text
		font-size 1.3em
		font-weight 300
		margin 1em  .6em
	&-list
		margin 0 auto
		width 95%
		padding 0
		text-align center
	&-item
		display inline-block
		margin .6em
		-webkit-filter grayscale(100%)
		cursor pointer
		&:hover
			transition .2s
			-webkit-filter grayscale(0%)
	&-spriteABB
		background-image url("../images/sprite.png")
		background-position 0 1px
		width 233px
		height 88px
	&-spriteEndress
		background-image url("../images/sprite.png")
		background-position 0 -95px
		width 233px
		height 110px
	&-spriteIconics
		background-image url("../images/sprite.png")
		background-position 0 -247px
		width 233px
		height 125px
	&-spriteFreewave
		background-image url("../images/sprite.png")
		background-position 0 -377px
		width 231px
		height 80px
	&-spriteIndusoft
		background-image url("../images/sprite.png")
		background-position 0 -477px
		width 233px
		height 93px
	&-spriteInsteon
		background-image url("../images/sprite.png")
		background-position 0 -577px
		width 233px
		height 35px
	&-spriteInsteon
		background-image url("../images/sprite.png")
		background-position 0 -615px
		width 233px
		height 90px
	&-spriteMerik
		background-image url("../images/sprite.png")
		background-position 0 -760px
		width 233px
		height 90px
	&-spriteNtron
		background-image url("../images/sprite.png")
		background-position 0 -860px
		width 233px
		height 50px
	&-spriteRedlion
		background-image url("../images/sprite.png")
		background-position 0 -917px
		width 233px
		height 100px
	&-spriteRockwell
		background-image url("../images/sprite.png")
		background-position 0 -1017px
		width 233px
		height 55px
	&-spriteRotork
		background-image url("../images/sprite.png")
		background-position 0 -1075px
		width 233px
		height 69px
	&-spriteSamsung
		background-image url("../images/sprite.png")
		background-position 0 -1175px
		width 233px
		height 69px
	&-spriteSiemens
		background-image url("../images/sprite.png")
		background-position 0 -1260px
		width 233px
		height 43px
	&-spriteSixnet
		background-image url("../images/sprite.png")
		background-position 0 -1302px
		width 233px
		height 60px
	&-spriteMoxa
		background-image url("../images/sprite.png")
		background-position 0 -1402px
		width 233px
		height 35px
	&-spriteUbiquiti
		background-image url("../images/sprite.png")
		background-position 0 -1445px
		width 233px
		height 110px
	&-spriteHikvision
		background-image url("../images/sprite.png")
		background-position 0 -1610px
		width 233px
		height 50px
.Footer
	display block
	background footer
	width 100%
	padding 3em 0 0
	height 30em
	margin 0
	&-container
		display block
		margin 0 auto
		max-width 62.5em
	&-columnTitle
		color white
		text-transform uppercase
		display block
		margin .5em
		padding-bottom .4em
		border-bottom 3px solid green_link
	&-columnItem
		list-style none
	&-columnLink
		text-align webkit-match-parent
		font-weight bold
		text-decoration none
		color footer_text
		display block
		&:hover
			color green_link
		&:before
			font-size 20px
			color white
			margin-right .4em
			position relative
			top 3px
	&-contactTitle
		color white
		text-transform uppercase
		display block
		margin .5em
		padding-bottom .4em
		border-bottom 3px solid green_link
	&-contactForm
		text-align center
	&-contactInput
		width 90%
		font-size 1.7em
		border 1px solid blue_light
		margin-bottom .3em
		padding-left .5em
	&-contactButton
		color white
		background green_link
		border solid green_link
		border-bottom 5px solid green_border
		text-decoration none
		text-transform uppercase
		padding .5em 2.5em
		font-weight bold
		margin-top .7em
		&:hover
			background red_link
			border solid red_link
			border-bottom 5px solid red_border
			transition .1s
			font-weight bold
	&-follow
		text-align center
	&-followTitle
		color white
		font-weight bold
		font-size 1.3em
		padding-right 1em
		text-transform capitalize
		border-right 2px solid green_link
		display inline-block
		margin-right 1em
	&-followLink
		text-decoration none
		color white
		display inline-block
		&:before
			font-size 1.8em
			margin 0 .1em
		&:hover
			color green_link
			transition .1s
	&-powerBy
		text-align center
		&:after
			color footer_text
			content "Power by osmatik.com"
	&-powerByText
		color white
		font-style italic
		margin 0
		padding 0
/*	Small Tablet
	==================================================	*/
@media screen and (min-width: 600px)
	.Footer
		background footer
		height 30em
/*	Tablet
	==================================================	*/
@media screen and (min-width: 767px)
	.Header-container
		display block
		height 4.5em
		position fixed
	.Mainmenu
		background white
		height 4.5em
		margin 0 auto
		max-width 62.5em
		&-imageLink
			display inline-block
		&-image
			width 10em
		&-mobile
			display none
		&-list
			overflow visible
			position absolute
			right 0
			top -1em
			margin 0
		&-item
			margin-top 1em
			border-bottom 1px solid white
			display block
			float left
		&-link
			background white
			color gray_link
			position relative
			border-radius 50px 0 0 50px
			height 4em
			width 9em
			overflow hidden
			color gray_link
			z-index 1
			transition color .3s
			&:hover
				color white
				transition color .3s
			&:after
				background white
				content ""
				z-index -2
				position absolute
				top 0
				right 100%
				width 100%
				height 100%
				transition transform .3s
				background blue_light
				margin-left auto
				margin-right auto
				font-weight 700
				font-size 20px
				text-transform uppercase
				text-align center
			&:hover::after
				transform translateX(95%)
				transition transform .3s
	.Slider
		&-containerButton
			display block
			position absolute
			width 100%
			margin-top -17em
		&-buttonContainer
			display block
			height 3em
		&-button
			border-radius 50%
			background rgba(255, 255, 255, .2)
			width 3em
			height 3em
			display inline-block
			top -3em
			border 1px solid black_button
			&:hover
				background rgba(0, 0, 0, .2)
				color white
		&-buttonPrevious
			margin-left 3em
			float left
		&-buttonNext
			margin-right 3em
			float right
	.Model
		margin 0 auto
		max-width 62.5em
		&-thumbsContainer
			display inline-block
			width 40%
			margin .8em
	.Solutions
		margin 0 auto
		max-width 62.5em
		&-imageContainer
			display inline-block
			width 40%
			margin-top 1.5em
			&:hover
				opacity .4
		&-image
			border .3em solid white
			&:hover
				border .3em dashed blue_light
				transition .5s
				transform scale(1.1)
				border-radius 50%
	.Services
		&-element
			&:after
				position absolute
				left 47%
				bottom -20px
				border-left 3em solid transparent
				border-right 3em solid transparent
				border-top 1em solid gray_slider
				content ''
				margin-left -10px
				display block
		&-text
			display block
			position absolute
			left 2em
			color white
		&-secondText
			display block
			position absolute
			left 4em
			top 2em
			color white
		&-link
			display block
			top 35%
			left 60%
	.Partnerships
		&-title
			padding-top 1.5em
	.Footer
		display block
		background footer
		width 100%
		padding 3.5em 0 0
		height 35em
		margin 0
		&-Column
			display inline-block
			padding-right 1em
			border-right 2px solid footer_text
		&-contact
			width 600px
			display inline-block
		&-follow
			padding-top 2em
			display block
		&.contactInput
			display inline-block
			width 10px
			font-size 1.2em
			border 1px solid blue_light
			margin-bottom .3em
			padding-left .5em
		&-powerByText
			padding 1.5em 0 0 0
/*	Desktop
	==================================================	*/
@media screen and (min-width: 960px)
	.Header-container
		display block
		height 6.5em
	.Mainmenu
		height 6.5em
		&-image
			width 15em
		&-list
			top 0
	.Slider
		top 6.5em
		&-subelement
			display block
			padding-top 16em
			float left
			margin-left 9em
		&-textSubelement
			display block
			position absolute
			top 2em
			right 5em
			color white
			font-size 3em
		&:after
			position absolute
			left 46%
			bottom -20px
			border-left 3em solid transparent
			border-right 3em solid transparent
			border-top 1em solid gray_slider
			content ''
			margin-left -10px
			display block
	.About
		&-title
			padding-top 1.2em
	.Solutions
		&-title
			padding-top 1.2em
		&-imageContainer
			display inline-block
			width 30%
			margin-top 1.5em
	.Services
		&-text
			display block
			position absolute
			left 5em
			color white
		&-secondText
			display block
			position absolute
			left 7em
			top 2.5em
			color white
		&-link
			display block
			top 35%
			left 60%
	.Footer
		height 25em
/*	Desktop Full HD
	==================================================	*/
@media screen and (min-width: 1800px)
	.Services
		&-container
			margin 0 auto
			max-width 62.5em