@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-gecqsi');
	src:url('fonts/icomoon.eot?#iefix-gecqsi') format('embedded-opentype'),
		url('fonts/icomoon.woff?-gecqsi') format('woff'),
		url('fonts/icomoon.ttf?-gecqsi') format('truetype'),
		url('fonts/icomoon.svg?-gecqsi#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-cogs:before {
	content: "\e61c";
}
.icon-radio:before {
	content: "\e61d";
}
.icon-tools:before {
	content: "\e61e";
}
.icon-dollar:before {
	content: "\e61f";
}
.icon-dollar2:before {
	content: "\e620";
}
.icon-coins:before {
	content: "\e621";
}
.icon-clipboard:before {
	content: "\e622";
}
.icon-clipboard2:before {
	content: "\e623";
}
.icon-mobile3:before {
	content: "\e000";
}
.icon-laptop2:before {
	content: "\e001";
}
.icon-desktop2:before {
	content: "\e002";
}
.icon-tablet2:before {
	content: "\e003";
}
.icon-phone2:before {
	content: "\e004";
}
.icon-document:before {
	content: "\e005";
}
.icon-documents:before {
	content: "\e006";
}
.icon-search2:before {
	content: "\e007";
}
.icon-presentation:before {
	content: "\e00e";
}
.icon-briefcase:before {
	content: "\e015";
}
.icon-gears:before {
	content: "\e02b";
}
.icon-group:before {
	content: "\e624";
}
.icon-chart-pie:before {
	content: "\e625";
}
.icon-chart-line:before {
	content: "\e626";
}
.icon-chart-bar:before {
	content: "\e627";
}
.icon-chart-area:before {
	content: "\e628";
}
.icon-perm-phone-msg:before {
	content: "\e629";
}
.icon-settings-ethernet:before {
	content: "\e62a";
}
.icon-settings-input-antenna:before {
	content: "\e62b";
}
.icon-view-headline:before {
	content: "\e600";
}
.icon-equalizer:before {
	content: "\e62c";
}
.icon-call:before {
	content: "\e601";
}
.icon-dialer-sip:before {
	content: "\e62d";
}
.icon-email:before {
	content: "\e602";
}
.icon-forum:before {
	content: "\e603";
}
.icon-content-copy:before {
	content: "\e604";
}
.icon-content-paste:before {
	content: "\e605";
}
.icon-brightness-high:before {
	content: "\e62e";
}
.icon-brightness-low:before {
	content: "\e62f";
}
.icon-devices:before {
	content: "\e630";
}
.icon-dvr:before {
	content: "\e631";
}
.icon-cloud-download:before {
	content: "\e632";
}
.icon-file-download:before {
	content: "\e633";
}
.icon-computer:before {
	content: "\e634";
}
.icon-desktop-mac:before {
	content: "\e635";
}
.icon-desktop-windows:before {
	content: "\e636";
}
.icon-dock:before {
	content: "\e637";
}
.icon-laptop:before {
	content: "\e638";
}
.icon-laptop-chromebook:before {
	content: "\e639";
}
.icon-laptop-mac:before {
	content: "\e63a";
}
.icon-memory:before {
	content: "\e63b";
}
.icon-navigate-before:before {
	content: "\e63c";
}
.icon-navigate-next:before {
	content: "\e63d";
}
.icon-pin-drop:before {
	content: "\e63e";
}
.icon-place:before {
	content: "\e63f";
}
.icon-chevron-left:before {
	content: "\e640";
}
.icon-chevron-right:before {
	content: "\e641";
}
.icon-menu:before {
	content: "\e642";
}
.icon-mms:before {
	content: "\e643";
}
.icon-play-download:before {
	content: "\e644";
}
.icon-domain:before {
	content: "\e645";
}
.icon-group2:before {
	content: "\e646";
}
.icon-location-city:before {
	content: "\e647";
}
.icon-people:before {
	content: "\e648";
}
.icon-person:before {
	content: "\e649";
}
.icon-publ:before {
	content: "\e64a";
}
.icon-envelope:before {
	content: "\e64b";
}
.icon-chat:before {
	content: "\e64c";
}
.icon-cog:before {
	content: "\f013";
}
.icon-home:before {
	content: "\f015";
}
.icon-chevron-left2:before {
	content: "\f053";
}
.icon-chevron-right2:before {
	content: "\f054";
}
.icon-question-circle:before {
	content: "\f059";
}
.icon-info-circle:before {
	content: "\f05a";
}
.icon-comments:before {
	content: "\f086";
}
.icon-phone:before {
	content: "\f095";
}
.icon-twitter:before {
	content: "\f099";
}
.icon-facebook:before {
	content: "\f09a";
}
.icon-group3:before {
	content: "\f0c0";
}
.icon-google-plus:before {
	content: "\f0d5";
}
.icon-comment-o:before {
	content: "\f0e5";
}
.icon-comments-o:before {
	content: "\f0e6";
}
.icon-suitcase:before {
	content: "\f0f2";
}
.icon-building-o:before {
	content: "\f0f7";
}
.icon-desktop:before {
	content: "\f108";
}
.icon-laptop3:before {
	content: "\f109";
}
.icon-tablet:before {
	content: "\f10a";
}
.icon-mobile:before {
	content: "\f10b";
}
.icon-terminal:before {
	content: "\f120";
}
.icon-code:before {
	content: "\f121";
}
.icon-puzzle-piece:before {
	content: "\f12e";
}
.icon-chevron-circle-left:before {
	content: "\f137";
}
.icon-chevron-circle-right:before {
	content: "\f138";
}
.icon-html5:before {
	content: "\f13b";
}
.icon-css3:before {
	content: "\f13c";
}
.icon-dropbox:before {
	content: "\f16b";
}
.icon-stack-overflow:before {
	content: "\f16c";
}
.icon-instagram:before {
	content: "\f16d";
}
.icon-tumblr:before {
	content: "\f173";
}
.icon-tumblr-square:before {
	content: "\f174";
}
.icon-apple:before {
	content: "\f179";
}
.icon-windows:before {
	content: "\f17a";
}
.icon-android:before {
	content: "\f17b";
}
.icon-linux:before {
	content: "\f17c";
}
.icon-skype:before {
	content: "\f17e";
}
.icon-foursquare:before {
	content: "\f180";
}
.icon-slack:before {
	content: "\f198";
}
.icon-graduation-cap:before {
	content: "\f19d";
}
.icon-google:before {
	content: "\f1a0";
}
.icon-reddit:before {
	content: "\f1a1";
}
.icon-cubes:before {
	content: "\f1b3";
}
.icon-file-image-o:before {
	content: "\f1c5";
}
.icon-file-audio-o:before {
	content: "\f1c7";
}
.icon-file-movie-o:before {
	content: "\f1c8";
}
.icon-file-code-o:before {
	content: "\f1c9";
}
.icon-git-square:before {
	content: "\f1d2";
}
.icon-git:before {
	content: "\f1d3";
}
.icon-cc-visa:before {
	content: "\f1f0";
}
.icon-cc-mastercard:before {
	content: "\f1f1";
}
.icon-cc-amex:before {
	content: "\f1f3";
}
.icon-cc-paypal:before {
	content: "\f1f4";
}
.icon-area-chart:before {
	content: "\f1fe";
}
.icon-pie-chart:before {
	content: "\f200";
}
.icon-line-chart:before {
	content: "\f201";
}
.icon-download:before {
	content: "\e606";
}
.icon-chat2:before {
	content: "\e607";
}
.icon-user:before {
	content: "\e608";
}
.icon-users:before {
	content: "\e609";
}
.icon-location:before {
	content: "\e60a";
}
.icon-mobile2:before {
	content: "\e60b";
}
.icon-screen:before {
	content: "\e60c";
}
.icon-mail:before {
	content: "\e60d";
}
.icon-help:before {
	content: "\e60e";
}
.icon-videos:before {
	content: "\e60f";
}
.icon-pictures:before {
	content: "\e610";
}
.icon-search:before {
	content: "\e611";
}
.icon-cog2:before {
	content: "\e612";
}
.icon-article:before {
	content: "\e613";
}
.icon-photoshop:before {
	content: "\e614";
}
.icon-illustrator:before {
	content: "\e615";
}
.icon-list:before {
	content: "\e616";
	font-size: 1.3em;
	margin-right: 1em;
	padding: .5em;
}
.icon-images:before {
	content: "\e617";
}
.icon-pencil:before {
	content: "\e618";
}
.icon-layers-alt:before {
	content: "\e619";
}
.icon-layers:before {
	content: "\e61a";
}
.icon-users2:before {
	content: "\e61b";
}
